@font-face {
font-family: openSans;
src: url(./Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
font-family: raleway;
src: url(./Raleway/Raleway-Bold.ttf);
}
body{
	margin: 0;
	padding: 0;
	color: hsl(0, 0%, 100%);
	background-color: hsl(218, 28%, 13%);
	font-family: openSans, arial;
}
}
.nav-bar{
	width: 100vw;
	height: 100vh;
}
.nav-items{
	width: 80%;
	background-color: hsl(217, 28%, 15%);
	margin: auto;
	padding: 35px 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	width: 120px;
	cursor: pointer;
}
.nav-items ul li{
	list-style: none;
	display: inline-block;
	font-family: raleway, arial;
	margin: 0 20px;
	position: relative;
}
.nav-items ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: capitalize;
}
.nav-items ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}
.nav-items ul li:hover::after{
	width: 100%;
	/*transition: 0.5s;*/
}
h1,h2, button, h5{
	font-family: raleway, arial;
}
#productive{
	margin: auto 50px;
}
#productive a span{
	background-image: url("./images/icon-arrow.svg");
	background-position: center;
	background-size: cover;
}
#productive a::after{
	content: '';
	height: 3px;
	width: 0;
	background: #fff;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}
#productive a{
	text-decoration: none;
	position: relative;
	color: hsl(0, 0%, 100%);
}
#productive a:hover::after{
	/*text-decoration: underline;*/
	width: 100%;
}
.stats img{
	display: inline-block;
	margin-right: 10px;
}
.location{
	width: 20vw;
	/*height: 20vw;*/
	display: flex;
	margin-bottom: 0px;
}
.location div{
	margin-top: 20px;
}
.stats li{
	list-style: none;
	margin-bottom: 20px;
}
#icons{
	padding-top: 20px;
}
i{
	margin-right: 10px;
	padding: 5px;
	border: 2px solid #fff;
	border-radius: 50%;
}



@media screen and (min-width: 376px) {
	.backstart{
	background: hsl(217, 28%, 15%);
	background-image: url("./images/bg-curvy-desktop.svg");
	background-position: 0px 550px;
	padding-bottom: 150px;
	background-repeat: no-repeat;
	}
	.services{
	display: flex;
	flex-wrap: wrap;
	width: 60vw;
	padding: 100px 0px;
	margin: auto;
	justify-content: space-between;
	}
	.services div{
	width: 25vw;
	}
	.top button{
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	text-transform: uppercase;
	border: 2px solid hsl(176, 68%, 64%);
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	}
	.top button span{
	background: hsl(176, 68%, 64%);
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
	}

	.top button:hover span{
	width: 100%;
	}
	.top button:hover{
	border: none;
	}
	.b-top{
	display: flex;
	width: 90vw;
	margin: auto;
	}

	.b-bottom{
	position: relative;
	}
	.b-middle{
	display: flex;
	width: 80vw;
	margin: auto;
	background-image: url("./images/bg-quotes.png");
	background-repeat: no-repeat;
	background-position:20px 0px;
	padding: 30px;
	margin-top: 200px;
	justify-content: space-between;
	}
	.b-middle>div{
	width: 20vw;
	padding: 2vw;
	border-radius: 10px;
	background: hsl(219, 30%, 18%);
	box-shadow: 1px 1px 5px hsl(219, 30%, 18%);
	}
	.b-middle>div p{
	margin-top: 0px;
	}
	.profile{
	display: flex;
	/*padding: 0;*/
	}
	.profile>div{
	height: 30px;
	margin: 0px;
	}
	.profile img{
	width: 2vw;
	display: block;
	margin: auto;
	margin-right: 10px;
	border-radius: 50%;
	}
	.profile span{
	margin-top: 0px;
	padding-top: 0px;
	font-size: 10px;
	}
	.profile h5{
	margin-top: 0px;
	/*padding-bottom: 0px;*/
	margin-bottom: 0px;
	}
	/*.b-bottom{
	position: relative;
	width: 100vw;
	height: 700px;
	}*/
	.card-container{
	width: 100vw;
	height: 850px;
	/*background: hsl(217, 28%, 15%);*/
	overflow: hidden;
	display: inline-block;
	}
	.upper-container{
	height: 350px;
	/*background: #fff;*/
	}
	.mail-container{
	box-shadow: 2px 5px 5px hsl(216, 53%, 9%);
	background: hsl(217, 28%, 15%);
	text-align: center;
	width: 50vw;
	/*height: 350px;*/
	border-radius: 20px;
	padding: 2vw 3vw;
	transform: translate(25vw,175px);
	}
	.mail-container img{
	width: 5vw;
	height: 5vw;
	border-radius: 50%;
	}
	.lower-container{
	height: 350px;
	background: hsl(216, 53%, 9%);
	padding: 150px 3vw;
	}
	form{
	display: flex;
	text-align: left;
	padding: 0px 10px;
	}
	label{
	color: hsl(0, 100%, 63%);
	margin: 0px;
	margin-left: 40px;
	font-size: 13px;
	}
	input[type=email]{
	width: 25vw;
	padding: 15px 40px;
	margin: 20px auto 0px auto;
	border-radius: 25px;
	border: 0px;
	position: relative;
	overflow: hidden;
	}
	input[type=email]:focus{
	border: 0px;
	}
	form button{
	width: 200px;
	/*padding: 10px 0;*/
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	text-transform: uppercase;
	border: 2px solid hsl(176, 68%, 64%);
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	}
	button[type=submit] span{
	background: hsl(176, 68%, 64%);
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
	}
	button[type=submit]:hover span{
	width: 100%;
	}
	button[type=submit]:hover{
	border: none;
	}
	.stats{
	display: flex;
	justify-content: space-between;
	}
}


@media screen and (max-width: 375px){
	.nav-bar{
	width: 100vw;
	height: 150px;
	background-color: hsl(217, 28%, 15%);
}
.nav-items{
	width: 90%;
	background-color: hsl(217, 28%, 15%);
	margin: auto;
	padding: 25px 5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	width: 80px;
	cursor: pointer;
}
.nav-items ul li{
	list-style: none;
	display: inline-block;
	font-family: raleway, arial;
	margin: 0 0px;
	position: relative;
}
.nav-items ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: capitalize;
}
.nav-items ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}
.nav-items ul li:hover::after{
	width: 100%;
	/*transition: 0.5s;*/
}
h1,h2, button, h5{
	font-family: raleway, arial;
}
.main-img{
	width: 80vw;
}
#productive{
	margin: auto;
}
#productive a span{
	background-image: url("./images/icon-arrow.svg");
	background-position: center;
	background-size: cover;
}
#productive a::after{
	content: '';
	height: 3px;
	width: 0;
	background: #fff;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}
#productive a{
	text-decoration: none;
	position: relative;
	color: hsl(0, 0%, 100%);
}
#productive a:hover::after{
	/*text-decoration: underline;*/
	width: 100%;
}
.stats{
	width: 80vw;
	margin: auto;
	/*padding: 10vw;*/
}
.new-logo{
	width: 80vw;
	margin: auto;
}
.stats img{
	display: inline-block;
	margin-right: 10px;
}
.location{
	width: 80vw;
	/*height: 20vw;*/
	display: flex;
	margin-bottom: 0px;
}
.location div{
	margin-top: 20px;
}
.stats li{
	list-style: none;
	margin-bottom: 20px;
}
.stats ul{
	list-style: none;
	padding: 0px;
	margin-top: 40px;
}
#icons{
	padding-top: 20px;
	width: 50vw;
	margin: auto;
}
i{
	margin-right: 10px;
	padding: 5px;
	border: 2px solid #fff;
	border-radius: 50%;
}
	.backstart{
	background: hsl(217, 28%, 15%);
	background-image: url("./images/bg-curvy-desktop.svg");
	background-position: 0px 300px;
	background-size: 400px 80vw;
	background-repeat: no-repeat;
	}
	.services{
	width: 100vw;
	padding: 100px 0px;
	margin: auto;
	justify-content: space-between;
	}
	.services div{
	width: 80vw;
	margin: 100px auto;
	}
	.top button{
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	text-transform: uppercase;
	border: 2px solid hsl(176, 68%, 64%);
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	}
	.top button span{
	background: hsl(176, 68%, 64%);
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
	}

	.top button:hover span{
	width: 100%;
	}
	.top button:hover{
	border: none;
	}
	.b-top{
	width: 90vw;
	margin: auto;
	}

	.b-bottom{
	position: relative;
	}
	.b-middle{
	background-image: url("./images/bg-quotes.png");
	background-repeat: no-repeat;
	background-position:50px 80px;
	padding: 30px;
	margin-top: 150px;
	}
	.b-middle>div{
	width: 60vw;
	margin: 80px auto;
	padding: 20px;
	border-radius: 10px;
	background: hsl(219, 30%, 18%);
	box-shadow: 1px 1px 5px hsl(219, 30%, 18%);
	}
	.b-middle>div p{
	margin-top: 0px;
	}
	.profile{
	display: flex;
	/*padding: 0;*/
	}
	.profile>div{
	height: 30px;
	margin: 0px;
	}
	.profile img{
	width: 30px;
	display: block;
	margin: auto;
	margin-right: 10px;
	border-radius: 50%;
	}
	.profile span{
	margin-top: 0px;
	padding-top: 0px;
	font-size: 10px;
	}
	.profile h5{
	margin-top: 0px;
	margin-bottom: 0px;
	}
	.card-container{
	width: 100vw;
	overflow: hidden;
	/*display: inline-block;*/
	}
	.upper-container{
	height: 200px;
	}
	.mail-container{
	box-shadow: 2px 5px 5px hsl(216, 53%, 9%);
	background: hsl(217, 28%, 15%);
	text-align: center;
	width: 60vw;
	border-radius: 20px;
	padding: 20px 10vw;
	transform: translate(10vw,0px);
	}
	.mail-container img{
	width: 5vw;
	height: 5vw;
	border-radius: 50%;
	}
	.lower-container{
	background: hsl(216, 53%, 9%);
	padding: 300px 0vw 100px 0vw;
	}
	form{
	text-align: left;
	}
	label{
	color: hsl(0, 100%, 63%);
	margin: 0px;
	margin-left: 10px;
	font-size: 13px;
	}
	input[type=email]{
	width: 40vw;
	padding: 10px 40px;
	margin: 20px 0px 0px 0px;
	border-radius: 25px;
	border: 0px;
	position: relative;
	overflow: hidden;
	}
	input[type=email]:focus{
	border: 0px;
	}
	form button{
	width: 200px;
	/*padding: 10px 0;*/
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	text-transform: uppercase;
	border: 2px solid hsl(176, 68%, 64%);
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	}
	button[type=submit] span{
	background: hsl(176, 68%, 64%);
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
	}
	button[type=submit]:hover span{
	width: 100%;
	}
	button[type=submit]:hover{
	border: none;
	}
}